/* You can add global styles to this file, and also import other style files */
.alert-message-container {
  top: 0;
  left: 0;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3; /* Light grey */
  border-radius: 50%;
  border-top: 16px solid #3498db; /* Blue */
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}