.required-field:after {
  content: " *";
  color: red;
}

#submitBtn:disabled {
  cursor: not-allowed;
}

#updateBtn:disabled {
  cursor: not-allowed;
}

#updatePhotoButton:disabled {
  cursor: not-allowed;
}

.form-control.ng-invalid.ng-touched {
  border: 1px solid red;
}

.form-control.ng-valid.ng-touched {
  border: 1px solid green;
}

.button-wrapper {
  text-align: center;
}

.button-wrapper button {
  margin: 0 auto;
  margin-bottom: 30px;
}

input:focus {
  box-shadow: 0 0 2px 2px #007DFF;
}