.item img {
  width: 200px;
  height: 200px;
}

.buttons {
  width: 100%;
}

.edit-property-btn {
  display: table;
  margin: 0 auto;
}

.removePhoto {
  padding-top: 10px;
  width: 100%;
}

.removePhoto button {
  display: table;
  margin: 0 auto;
  width: 50%;
}

#propertyImage {
  height: 140px;
  max-width: 100%;
}

#propertyImage:hover {
  cursor: pointer;
}

#photoCard {
  margin-left: 10px;
}

.required-field:after {
  content: " *";
  color: red;
}

#submitBtn:disabled {
  cursor: not-allowed;
}

#property-image-enlarged {
  max-width: 100%;
}

.closingTimeLabel {
  margin-top: 4px;
  margin-right: 10px;
}

input:focus {
  box-shadow: 0 0 2px 2px #007DFF;
}